.navbar-brand {
    color: white;
    font-weight: 900;
}

.nav-link {
    color: rgb(239, 246, 255);
}

.nav-link {
    margin-right: 1.8em;
    letter-spacing: 2px;
    font-weight: 500;
    border-bottom: solid  rgb(36, 39, 36);
    width: 6em;
}
.item{
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: black;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0px 0px 2px 0.6px  rgb(10, 10, 10);
    cursor: pointer;
}

#logout {
    cursor: pointer;
}