body {
    background: #36D1DC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #5B86E5, #36D1DC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #5B86E5, #36D1DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    padding: 2em;
}

.container {
    height: 5em;
    background-color: white;
}

#profile {
padding: 2em;    
}

#imagen {
  width: 160px;
  height: 160px;
  box-shadow: 0px 0px 8px 3px #0C59BE;  
}

img {
  width: 160px;
  height: 160px;
  border-radius: 100%;
}
.card {
    max-width: 180em;
    margin: auto;
    overflow-y: auto;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    transition: 0.3s;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.2);
  }

.left {
    padding-top: 1em;
}

.right {
    padding-top: 1em;
}

svg {
  color:#0D4EBC;
}

span {
  background-color: #CCEFEF;
}

.contact-me {
    border: 0;
    outline: none;
    background: linear-gradient(
      to right,
      rgba(83, 200, 239, 0.8) 0%,
      rgba(81, 106, 204, 0.8) 96%
    );
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    color: #fff;
    padding: 12px 16px;
    width: 100%;
    border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    transition: 0.3s;
  }