<section class="row rounded-4">

<div class="col-md-6 d-flex justify-content-center " id="left">

    <img width="400" 
    src="https://img.freepik.com/free-vector/people-search-concept-illustration_114360-977.jpg?w=2000" alt="images">
</div>

<div class="col-md-6" id="right">

    <div class="row">
        <h1>Welcome Back</h1>
        <p>Inicia sesión con tus credenciales de acceso:</p>
    </div>


    <form>
        
        <div class="input-group flex-nowrap">
            <span class="input-group-text" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                  </svg>
            </span>
            <input type="text" class="form-control" placeholder="Username" formcontrolNamme="username">
          </div>


          <div class="input-group flex-nowrap">
            <span class="input-group-text" >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill" viewBox="0 0 16 16">
                    <path d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                  </svg>
            </span>
            <input type="text" class="form-control" placeholder="Username" formcontrolNamme="username">
          </div>


    </form>
</div>

</section>