section {
    border: solid 5px rgb(12, 89, 190);
    height: auto;

}

#left {
    background-color: rgb(255, 255, 255);
 
 }
 
 #right {
     background-color: rgb(75, 128, 197);
     border-left: 2px dashed blue;
 }

 h1 {
    font-weight: 800;
 }

 form {
    width: 25em;

 }

 button {
    background-color: rgba(255, 255, 255, 0.671);
    width: 14em;
    color: blue;
    font-weight: 700;
 }